.body {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url("../image/Screenshot from 2026-01-09 13-38-36.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}



.h1 {
  text-align: center;
  color: white;
  font-family: sans-serif;
  margin-bottom: 5%;
}

.box {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 5%;
}

.box1 {
  width: 50%;
  margin-left: 10%;
  background-color: white;
}

.para {
  color: gray;
  text-align: center;
  margin-top: 5%;
}

.h3 {
  text-align: center;
  margin-top: 5%;
}

.box2 {
  width: 50%;
  background-color: white;
  margin-right: 10%;
}

.book {
  width: 30px;
  float: left;
}

.message {
  float: left;
  width: 30px;
}

.btn {
  float: left;
  padding: 30px;
  border-radius: 25px;
  border: none;
  background-color: rgb(79, 153, 79);
  margin-left: 40%;
  font-family: sans-serif;
  font-size: large;
  color: white;
}